
.Post-title > span {
    font-size: 18px;
    color: #0D47A1;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Post-body {

}

.Post-details {
    border-bottom: 1px solid darkslategray;
}

.Post-details > span {
    padding: 10px;
} 