.User-username {

}

.User-username > span {
    font-size: 40px;
    color: #333;
    padding-bottom: 50px;
}

.User-details {
    border-bottom: 1px solid darkslategray;
}

.User-details > span {
    padding: 10px;
} 

