.Box-container {

    background-color: white;
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 0.5px 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80%;
    cursor: pointer;
}

.Box-container:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.Box-container:active {
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
}

.primary {
    background-color: lightyellow;
}

.secondary {
    background-color: #f5f5f5; 
}

.Box-post {
    margin-left: 20px;
    float: left;
}

.Box-comment {
    margin-right: 20px;
    float: right;
}